{% extends "aplicacion/baseadmin.html" %}
{% load static %}
{% comment %} 'id','nombre','descripcion','precio','categoria','imagen' {% endcomment %}
{% block contenidoadmin %}

    <link rel="stylesheet" href="{% static 'aplicacion/css/admbtn.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--LISTA DE PRODUCTOS-->
    <div id="lista" class="content-section">
        <div class="container mt-5"><!--main container-->
            <h1>Listado de Productos</h1>
            <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Buscar Productos...">
            <div class="mt-2 table-responsive">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for p in admlista %}
                            <td>{{p.id}}</td>
                            <td>{{p.nombre}}</td>
                            <td><img src="{{p.imagen.url}}" alt="Foto Producto" height="50"></td>
                            <td>{{p.descripcion}}</td>
                            <td>{{p.precio}}</td>
                            <td>
                                <a class="btn btn-sm btn-editar" href="{% url 'editarprod' p.id %}" role="button">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-borrar btn-confirmar" href="" role="button" >
                                    <i class="fas fa-trash"></i>
                                </a>                              
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination text-center">
                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                </ul>
            </div>
        </div><!--main container ends-->
    </div>

    <script src="{% static 'aplicacion/js/confirmacion.js' %}"></script>

{% endblock contenidoadmin %}
