{% extends "aplicacion/baseadmin.html" %}
{% load static %}

{% block contenidoadmin %}

  <!-- Contenido principal -->
  <!--Pedidos-->

  <div id="pedidos" class="content-section">
    <div class="container mt-5">
      <h1>Gestión de Pedidos</h1>
      <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Buscar pedidos...">
      <p><a href="admin.html#pedidos" class="nodecolink"><i class="fas fa-sync-alt" aria-hidden="true"></i> Actualizar Pedidos</a></p>
      <div class="table-responsive">
        <table class="table mt-2">
          <thead class="table-dark">
            <tr>
              <th>ID Pedido</th>
              <th>Cliente</th>
              <th>Rut</th>
              <th>Fecha</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Estado</th>
              <th class="text-right">Detalles pedidos</th>
              <th>Cambiar estado</th>
            </tr>
          </thead>
          <tbody id="pedidosTable">
            {% for pedido in pedidos %}
            <tr>
              <td>{{ pedido.id_pedido }}</td>
              <td>{{ pedido.cliente }}</td>
              <td>{{ pedido.rut }}</td>
              <td>{{ pedido.fecha }}</td>
              <td>{{ pedido.direccion }}</td>
              <td>{{ pedido.telefono }}</td>
              <td class="">
                <span class="p-1 mt-5">
                  {% if pedido.estado == "Pendiente" %}
                  <span class="estilopendiente p-1 mt-5">
                    <i class="fas fa-clock" aria-hidden="true"></i> Pendiente
                  </span>

                  {% elif pedido.estado == "En camino" %}
                  <span class="enruta p-1 mt-5">
                    <i class="fa fa-truck" aria-hidden="true"></i> En camino
                  </span>

                  {% elif pedido.estado == "Entregado" %}
                  <span class="entregado p-1 mt-5">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Entregado
                  </span>

                  {% elif pedido.estado == "Cancelado" %}
                <span class="cancelado p-1 mt-5">
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i> Cancelado
                </span>                  
                {% endif %}
                </span>
              </td>
              <td>
                <a class="btn-info" href="{% url 'ver' pedido.id_pedido %}">
                  <i class="fa fa-eye" aria-hidden="true"></i> Ver detalle
                </a>
              </td>
              <td>
                <form method="post" action="{% url 'admpedidos' %}">
                  {% csrf_token %}
                  <input type="hidden" name="id_pedido" value="{{ pedido.id_pedido }}">
                  <div class="dropdown">
                    <button type="button" class="btn-estado dropdown-toggle btn-sm h6" data-bs-toggle="dropdown">
                      Seleccione Estado
                    </button>
                    <ul class="dropdown-menu">
                      {% for estado in pedido.ESTADOS_PEDIDO %}
                        <li>
                          <button type="submit" name="estado" value="{{ estado.0 }}" class="dropdown-item small-text">{{ estado.1 }}</button>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock contenidoadmin %}
