{% extends "aplicacion/baseadmin.html" %}
{% load static %}

{% block contenidoadmin %}
    <!-- Listado y botón usuarios -->
    <link rel="stylesheet" href="{% static 'aplicacion/css/admbtn.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div id="usuarios" class="content-section">
        <div class="container mt-5">
            <div class="header-section">
                <h1>Lista de usuarios</h1>
                <button class="cssbuttons-io-button" onclick="window.location.href='{% url 'usuarios' %}'">
                    Registrar un usuario
                    <div class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                fill="currentColor"></path>
                        </svg>
                    </div>
                </button>
            </div>
            <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Buscar usuario...">
            <div class="table-responsive">
                <table class="table mt-2">
                    <thead class="table-dark">
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Staff</th>
                            <th>Activo</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in usuarios %}
                        <tr>
                            <td>{{ dato.usuario.username }}</td>
                            <td>{{ dato.usuario.first_name }}</td>
                            <td>{{ dato.usuario.last_name }}</td>
                            <td>{{ dato.usuario.email }}</td>
                            {% if dato.perfil %}
                                <td>{{ dato.perfil.prefijo_telefono }} {{ dato.perfil.telefono }}</td>
                                <td>{{ dato.perfil.direccion }}</td>
                            {% else %}
                                <td>Sin informacion</td>
                                <td>Sin informacion</td>
                            {% endif %}
                            <td>
                                <input type="checkbox" {% if dato.usuario.is_staff %}checked{% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" {% if dato.usuario.is_active %}checked{% endif %}>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-editar" href="{% url 'editaruser' dato.usuario.id  %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-borrar btn-confirmar" href="{% url 'deshabilitar_usuario' dato.usuario.id %}">
                                    <i class="fas fa-ban"></i> 
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock contenidoadmin %}
