<!-- detallecli.html -->
{% extends "aplicacion/base.html" %}
{% load static %}

{% block contenido %}

<div class="container-sm mt-2">
    <h1 class="h3 text-center">Detalle del Pedido</h1>
    <div class="card">
        <div class="card-header">Pedido #{{ pedido.id_pedido }}</div>
        <div class="card-body">
            <h5 class="card-title">Información del Cliente</h5>
            <p>Nombre: {{ pedido.cliente.username }}</p>
            <p>Rut: {{ pedido.rut }}</p>
            <p>Dirección: {{ pedido.direccion }}</p>
            <p>Teléfono: {{ pedido.telefono }}</p>
            <p>Email: {{ pedido.cliente.email }}</p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalles_pedido %}
                        <tr>
                            <td>{{ detalle.producto.nombre }}</td>
                            <td>{{ detalle.cantidad }}</td>
                            <td>${{ detalle.precio_unitario }}</td>
                            <td>${{ detalle.subtotal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            <h5 class="mt-4">Total Pagado</h5>
            <p><strong>Total Pagado: ${{ total_pagado }}</strong></p>

            <h5 class="mt-4">Estado del Pedido</h5>
            <p>Actual: {{ pedido.estado }}</p>

            <div class="text-center" style="margin-top: 40px;">
                <a href="{% url 'pedidos' %}" class="btn">Volver</a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
