{% extends "aplicacion/base.html" %}
{% load static %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'aplicacion/css/pago.css' %}">

<div class="row">
  <div class="col-75">
    <div class="container">
      <form id="Metodo_pago" method="post" class="was-validated">
        {% csrf_token %}
        <!-- Direccion de envios -->
        <div class="row">
          <div class="col-50">
            <h3>Direccion de Envio</h3>

            <div class="mb-3 mt-3">
              <label for="rutInput" class="form-label"><i class="fas fa-id-card"></i>Ingrese su RUT:</label>
              <input type="text" class="form-control" id="rutInput" name="rut" placeholder="12.345.678-9" required oninput="validarRut(rut)">
              <div class="invalid-feedback">Rellene el campo antes de enviar.</div>
            </div>

            <div class="mb-3 mt-3">
              <label for="address" class="form-label"><i class="fa fa-address-card-o"></i> Direccion</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="542 W. 15th Street" required oninput="validarDireccion()">
              <div class="invalid-feedback">Rellene el campo antes de enviar.</div>
            </div>
            
            <div class="mb-3 mt-3">
              <label for="telefono" class="form-label">Teléfono:</label>
              <div class="input-group">
                <select class="form-select" id="prefijo" name="prefijo" required onchange="validarPrefijo()">
                  <option value="" selected>Sin Seleccionar</option>
                  <option value="+56">+56 Chile</option>
                  <option value="+34">+34 España</option>
                  <option value="+52">+52 México</option>
                  <option value="+54">+54 Argentina</option>
                  <option value="+1">+1 EE.UU.</option>
                  <!-- Agrega más prefijos según sea necesario -->
                </select>
                <input type="tel" class="form-control" id="telefono" name="telefono" required oninput="validarTelefono()">
                <div id="error-telefono" id="error-prefijo" class="invalid-feedback">Seleccione opción antes de enviar. Solo se permiten números.</div>
              </div>
            </div>

          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn" id="pagar">Pagar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-25">
  </div>
</div>

<script src="{% static 'aplicacion/js/rut.js' %}"></script>
<script src="{% static 'aplicacion/js/valrut.js' %}"></script>
<script src="{% static 'aplicacion/js/pago.js' %}"></script>
<script src="{% static 'aplicacion/js/telefonoval.js' %}"></script>

<script>
  handleFormSubmit(); // Llama a la función para manejar el envío del formulario
</script>

{% endblock contenido %}
