{% extends "aplicacion/base.html" %}
{% load static %}

{% block contenido %}


    <div class="container mt-5" id="pedidosContainer">
        <h2>Mis Pedidos</h2>
        <div class="list-group">
            {% for pedido in pedidos %}
            <!-- Primer pedido -->
            <a href="{% url 'detallecli' pedido.id_pedido %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-3">ID pedido: {{ pedido.id_pedido }}</h4>
                    <small>{{ pedido.fecha|date:"D, d M Y" }}</small>
                </div>
                <h5 class="mt-2">Estado del Pedido</h5>
                <p>Actual: {{ pedido.estado }}</p>
            </a>
            {% endfor %}

        </div>
    </div>
    
    <p></p>
{% endblock contenido %}