{% extends "aplicacion/base.html" %}
{% load static %}

{% block contenido %}


    <div class="container mt-5" id="pedidosContainer">
        <h2>Mis Pedidos</h2>
        <div class="list-group">
            <!-- Primer pedido -->
            <a href="{% url 'detallecli' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pedido #1234</h5>
                    <small>3 días atrás</small>
                </div>
                <p class="mb-1">Total pagado: $15.500</p>
                <small>Estado: Entregado</small>
            </a>
            <!-- Segundo pedido -->
            <a href="{% url 'detallecli' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pedido #1235</h5>
                    <small>2 días atrás</small>
                </div>
                <p class="mb-1">Total pagado: $8.300</p>
                <small>Estado: En proceso</small>
            </a>
            <!-- Tercer pedido -->
            <a href="{% url 'detallecli' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pedido #1236</h5>
                    <small>1 día atrás</small>
                </div>
                <p class="mb-1">Total pagado: $12.000</p>
                <small>Estado: Pendiente de envío</small>
            </a>
        </div>
    </div>
    
    <p></p>
{% endblock contenido %}